language: python
python:
  - "3.4"
# command to install dependencies
install:
  - pip install six
  - pip install jupyter
# command to run tests
script:
- py.test

notifications:
  slack: algorithmsco:qdax07a9DTTLNhdMr9MnQ9rl
